
.messages-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  height: calc(100vh - 300px);
  overflow-y: auto;
}

.user-message {
  align-self: flex-start;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

.bot-message {
  align-self: flex-end;
  background-color: #f1f1f1;
  color: black;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

.message-card {
  display: inline-block;
  padding: 4px;
}

.chat-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chat-input-form-row1 {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.chat-input-field {
  flex-grow: 1;
  width: 100%;
}

.chat-send-btn {
  margin-left: 8px; /* Adds spacing between textarea and button */
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
